@use "../../../Styles/mixins"as *;
@use "../../../Styles/variables-hp"as *;
.button-hp{
    display: inline-block;
    padding: 15px;
    text-transform: uppercase;
    font-family: "open_sanssemibold";
    letter-spacing: 2px;
    font-size: 17px;
    border: 4px solid $color-border-button ;
    background: rgba(0, 0, 0, 0.6);
    transition: all .2s linear;
    @include breakpoint("sm"){
        font-size: 14px;
        padding: 12px;
    }
    &:hover{
        background: $color-hover-button;
        @include breakpoint("sm"){
            background: $color-primary-button;
        }
    }
  
}

.btn-active{
    background-color: $color-active-button;
}